.App {
  text-align: center;
}

body {
  background-color: #080808;
}

.name {
  font-size: 75px;
  animation: flicker 3.5s linear;
  font-family: Courier;
  font-weight: 100;
}

.title {
  font-size: 50px;
  animation: flicker 3.5s linear;
  font-family: Courier;
  font-weight: 100;
  animation-delay: 3.5s;
  opacity: 0;
  animation-fill-mode: forwards;  
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #DC143C,
    0 0 82px #DC143C,
    0 0 92px #DC143C,
    0 0 102px #DC143C,
    0 0 200px #DC143C;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 73%, 77%,  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #DC143C,
      0 0 80px #DC143C,
      0 0 90px #DC143C,
      0 0 100px #DC143C,
      0 0 150px #DC143C;
  }
  20%, 24%, 55%, 75% {       
    text-shadow: none;
  }
  0%, 40%, 60%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 0.1;
  }
  60%{
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}