:root {
  --background-color: #4e9599;
  --primary-color: #1cd2df;
  --secondary-color: #2e4261;
  --primary-font-color: #ffffff;
  --secondary-font-color: #2e4261;
  --beige: #e4d0b5;
}

#root {
  width: 100%;
}

header {
  background-color: (var(--background-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: row wrap;
  overflow-x: hidden;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box-containerer {
  flex: 4;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frontend-developer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  height: 40rem;
  width: 100%;
}

#about {
  display: flex;
  flex-direction: column;
}

#about-description {
  color: var(--secondary-font-color);
  margin-top: -0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

#about-header {
  font-size: 1.8rem;
  color: var(--secondary-font-color);
}

#about-inner {
  background-color: var(--beige);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#about-picture {
  height: 100%;
  width: 12rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 2rem;
}

#experience {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
}

.experience-description {
  font-size: 0.95rem;
}

.experience-description li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#experience-header {
  font-size: 1.8rem;
  color: var(--primary-font-color);
}

#experience-inner {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  color: var(--primary-font-color);
  display: flex;
  text-decoration: none;
  white-space: nowrap;
}

.experience-section {
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

.experience-years {
  font-size: .9rem;
  margin-bottom: .5rem;
}

#full-name {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--primary-font-color);
}

#header {
  margin-top: 2.5rem;
}

#job-title {
  font-size: 1.5rem;
  margin-top: 0;
  color: var(--primary-font-color);
}

.menu-button {
  position: absolute;
  background-color: transparent;
  color: var(--primary-font-color);
}

#mountains {
  margin-bottom: -0.1rem;
}

.social-media-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: var(--secondary-color);
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin: 0 1.3rem;
}

.social-media-buttons {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
}

#trees {
  margin-bottom: -0.1rem;
}

button {
  border: none;
}

.frontend-developer-title {
  font-size: 3rem;
  margin: 0;
  padding-left: 6rem;
  line-height: 5rem;
}