:root {
  --background-color: #4e9599;
  --primary-color: #1cd2df;
  --secondary-color: #2e4261;
  --primary-font-color: #ffffff;
  --secondary-font-color: #2e4261;
}

#root {
  width: 100%;
}

header {
  background-color: (var(--background-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: row wrap;
}

.App {
  display: flex;
  width: 100%;
}

.box-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frontend-developer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  height: 40rem;
  width: 100%;
}

#cartoon-austin {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 20rem;
  width: 20rem;
}

#full-name {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--primary-font-color);
}

#header {
  margin-top: 2.5rem;
}

#job-title {
  font-size: 1.5rem;
  margin-top: 0;
  color: var(--primary-font-color);
}

.menu-button {
  position: absolute;
  background-color: transparent;
  color: var(--primary-font-color);
}

#mountains {
  width: 100%;
  height: 12rem;
}

#profile-picture {
  height: 100%;
  width: 12rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social-media-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: var(--secondary-color);
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin: 0 1.7rem;
}

#social-media-buttons {
  margin-top: 1rem;
  display: flex;
}

#social-media-buttons-2 {
  display: flex;
  margin-bottom: 0.3rem;
}

#below-mountains {
  margin-top: -6rem;
  background-color: #e4d0b5;
  height: 5rem;
  width: 100%;
}

button {
  border: none;
}

.cls-1 {
  fill: #edc9b5;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38, .cls-39, .cls-40, .cls-41, .cls-42, .cls-43, .cls-44, .cls-45, .cls-46, .cls-47, .cls-48, .cls-49, .cls-50, .cls-51, .cls-52, .cls-53, .cls-54, .cls-55, .cls-56, .cls-57, .cls-58, .cls-59, .cls-60, .cls-61, .cls-62, .cls-63, .cls-64, .cls-65 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #3c3631;
}

.cls-3 {
  fill: #403a36;
}

.cls-4 {
  fill: #c5a08d;
}

.cls-5 {
  fill: #5671ad;
}

.cls-6 {
  fill: #6a3b1c;
}

.cls-7 {
  fill: #413a36;
}

.cls-8 {
  fill: #728b73;
}

.cls-9 {
  fill: #4f6151;
}

.cls-10 {
  fill: #abceac;
}

.cls-11 {
  fill: #73533d;
}

.cls-12 {
  fill: #c19c8a;
}

.cls-13 {
  fill: #e2c092;
}

.cls-14 {
  fill: #e0b9a5;
}

.cls-15 {
  fill: #b87950;
}

.cls-16 {
  fill: #dec39d;
}

.cls-17 {
  fill: #dab4a1;
}

.cls-18 {
  fill: #d7b29f;
}

.cls-19 {
  fill: #5b6f65;
}

.cls-20 {
  fill: #aa663a;
}

.cls-21 {
  fill: #deb8a4;
}

.cls-22 {
  fill: #753e42;
}

.cls-23 {
  fill: #ffeacd;
}

.cls-24 {
  fill: #604c3f;
}

.cls-25 {
  fill: #d98b57;
}

.cls-26 {
  fill: #ded0c8;
}

.cls-27 {
  fill: #c49e8c;
}

.cls-28 {
  fill: #5671ae;
}

.cls-29 {
  fill: #ddd6d0;
}

.cls-30 {
  fill: #463e39;
}

.cls-31 {
  fill: #5670ac;
}

.cls-32 {
  fill: #3f3935;
}

.cls-33 {
  fill: #b06838;
}

.cls-34 {
  fill: #d3af9c;
}

.cls-35 {
  fill: #42598d;
}

.cls-36 {
  fill: #c4b1a3;
}

.cls-37 {
  fill: #435b8f;
}

.cls-38 {
  fill: #e8c596;
}

.cls-39 {
  fill: #425a8e;
}

.cls-40 {
  fill: #977c6a;
}

.cls-41 {
  fill: #7c6150;
}

.cls-42 {
  fill: #ddb7a3;
}

.cls-43 {
  fill: #d78a57;
}

.cls-44 {
  fill: #c8c5c3;
}

.cls-45 {
  fill: #423b36;
}

.cls-46 {
  fill: #dfb9a5;
}

.cls-47 {
  fill: #453d38;
}

.cls-48 {
  fill: #c3c8d3;
}

.cls-49 {
  fill: #fff;
}

.cls-50 {
  fill: #435b90;
}

.cls-51 {
  fill: #30476f;
}

.cls-52 {
  fill: #dbb5a1;
}

.cls-53 {
  fill: #445b8f;
}

.cls-54 {
  fill: #f5d09d;
}

.cls-55 {
  fill: #425a8f;
}

.cls-56 {
  fill: #e0e5f0;
}

.cls-57 {
  fill: #21314d;
}

.cls-58 {
  fill: #273a5b;
}

.cls-59 {
  fill: #f3ede8;
}

.cls-60 {
  fill: #bf9b89;
}

.cls-61 {
  fill: #f1ccb8;
}

.cls-62 {
  fill: #8f6143;
}

.cls-63 {
  fill: #647fbd;
}

.cls-64 {
  fill: #c39e8b;
}

.cls-65 {
  fill: #21314e;
}

.frontend-developer-title {
  font-size: 3rem;
  margin: 0;
  padding-left: 6rem;
  line-height: 5rem;
}

.sidebar {
  background-color: red;
  display: flex;
  flex-direction: column;
  max-width: 4rem;
  height: 100%;
}

.menu-icon {
  display: none !important;
}

@media screen and ( max-width: 500px) {
  body { flex-direction: column; }
  .sidebar {
    display: none !important;
  }
  .menu-icon {
    display: inline !important;
    position: absolute !important;
    top: 0.5rem;
    left: 0.5rem;
  }
  #inner-flex-container { width: 100%; flex: 1; }
}

section { 
  flex: 4; 
  background: deepskyblue; 
}
footer { 
  flex: 1;
  background: lightgreen;
}